body {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

.wrapper {}

.container {
    width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
    overflow: hidden;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff100;
}

.header_body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
 
.header_logo {
    flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;
}
.header_logo img {
    max-width: 100%;
    display: block;
}
.header_burger {}
.header_menu {}
.header_list {
    display: flex;
}
.header_list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.header_link {
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

.title {
    text-align: justify;
    color:cornflowerblue;
}

.content {
    padding: 100px 0px 0px 0px;
}
.content-text {
    font-size: 18px;
    line-height: 25px;
}
.content-text p {
    margin: 0px 0px 20px 0px;
    color: white;
}

.content-image{
    text-align: center;
}

img {
    border-radius: 100%;
    margin: auto;
    border: 3px solid #fff100;
    padding: 1px 1px;
}